@import "../../App.scss";

.card {
  width: 30rem;
}
.img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
}
.title {
  margin-top: 1.8rem;
  @include Text-Style-21();
}

.desc {
  margin-top: 1rem;
  @include FlexBox(space-between, center);
}

.price {
  @include Text-Style-22();
  font-size: 1.6rem;
}

.likes {
  @include FlexBox(space-between, center);
}

.img {
  object-fit: cover;
}

.heart {
  width: 1.9rem;
  height: 1.6rem;
}
