
html {
  font-size: 10px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}
